#header{
           background:#414b90;
        }
#header h1{
            color: white;
        }
div.breadcrumbs {
    background: #093563;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
}
.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #1a4a0b;
    color: #fff;
}